#xdevl_contactform table
{
	width: 100% ;
}

#xdevl_contactform table, #xdevl_contactform tr, #xdevl_contactform td, #xdevl_contactform th
{
	border: none ;
	background-color: transparent ;
	vertical-align: top ;
}

@media only screen and (min-width: 40em)
{
	#xdevl_contactform th
	{
		width: 20% ;
	}
}

@media only screen and (max-width: 40em)
{
	#xdevl_contactform th, #xdevl_contactform td
	{
		display: block ;
	}
}

#xdevl_contactform .error
{
	color: red ;
	font-size: 0.9em ;
	font-style: italic ;
}

#xdevl_contactform_name, #xdevl_contactform_email
{
	max-width: 32em  ;
}

#xdevl_contactform_message
{
	width: 100% ;
	height: 10em ;
	resize: vertical ;
}

#xdevl_contactform .xdevl_alert-box
{
	padding: 0.4em 1em;
	margin: 1em 0 ;
	font-size: 0.9em ;
}

#xdevl_contactform .xdevl_success
{
	color: white ;
	background-color: green ;
}

#xdevl_contactform .xdevl_alert
{
	color: white ;
	background-color: red ;
}
